* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, arial, sans-serif;
}

.octodex {
  display: inline-block;
}

.octocat {
  display: inline-block;
  width: 30%;
  margin: 1em;
}

.octocat img {
  max-width: 100%;
  border: 1px solid lightgray;
  border-radius: 1%;
}

.image-footer {
  position: relative;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

.image-caption {
  float: right;
  width: 100%;
  overflow: auto;
  min-height: 10rem;
  max-height: 10rem;
  min-width: 2rem;
  text-align: right;
}

.image-number {
  color: #cdcdcd;
}

a {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.authors {
  float: right;
}

.authors img {
  width: 1.5rem;
  /* position: fixed; */
}
